body {
    font-family: 'Marcellus SC', serif;
}

h1 {
    text-align: center;
}

.pshay {
    margin-bottom: 10%;
    margin-top: 15%;
    font-size: 150%;
}

h3 {
    text-align: center;
}

#formshay {
            margin-top: 75px;
            margin-bottom: 100px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;    
}

.shayquote{
font-size: 20px;
}

